# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fd0c16b7e5acef45580d15a9590a597288e35f9bb654194ebf719659fc928e68cd4ff0fc8f8d5ad2f3f7bddcd2fe5e9ed55e67778732d591cc697de543e40267

test:
  secret_key_base: dcb4e6308568648e27638c22776b7265d5fc742623799f4cc326ce49ea8dc9f1dff13bbd2447b20fd5542ead92edf47718ef5ed0f3996dd220661f94c59bf0c3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
